{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">批量导入数据</h3>
    </div>
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>选择类型</label>
                <select id="game_select" name="game_select" class="form-control">
                    {% for item in options %}
                    <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>选择文件</label>
                <a class="m-l" href="{{ url_for('manage.export') }}" title="模板下载">模板下载</a>
                <input type="file" name="file" accept=".xls,.xlsx">
                <p class="help-block">仅支持 xls, xlsx 文件格式。</p>
            </div>
            <button type="submit" class="btn btn-default">导入</button>
        </form>
    </div>
</div>
{% endblock body %}